@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.m0 {
  margin: 0;
  text-align: left;
}

p {
  font-size: 16px;

}

.container {
  width: 350px;
  margin-block: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: hsla(235, 0%, 100%, 1);
  border-radius: 15px;
}

img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.text p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.text {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-align: center;
}

.plan-annual {
  box-sizing: border-box;
  background-color: rgb(248, 249, 254);
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
}


.plan-link a {
  box-sizing: border-box;
  margin-left: 10px;
  text-align: right;
  text-decoration: underline;
  color: rgb(61, 50, 171);
  transition: .2s color ease;
}

.plan-link a:hover {
  color: rgb(117, 108, 238);
  cursor: pointer;
}

.btn {
  margin-top: 0px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 0;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 20px #382AE1;
  -moz-box-shadow: 1px 1px 20px #382AE1;
  box-shadow: 1px 1px 20px #382AE1;
  color: ghostwhite;
  font-size: 14px;
  width: 80%;
  padding: 20px;
  background: #382AE1;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: .2s background-color ease;
}

.btn:hover {
  background-color: rgb(117, 108, 238);
  cursor: pointer;
}

.m1 {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgb(126, 131, 150);
  transition: .2s color ease;
}

.m1:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

#h5-color {
  color: rgb(126, 131, 150);
  font-weight: 700;
}

/*ATTRIBUTION*/
.attribution {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}